* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home__wrapper {
    height: 100vh;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0 15%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.header__link {
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    color: gray;
}

.header__title {
    text-decoration: underline;
}

.header__image {
    width: 20px;
    height: 20px;
    margin: 0 15px;
}

.card {
    padding: 20px;
    box-shadow: 0 0 0 5px rgb(232, 232, 232);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow border 1s ease;
}

.card:hover {
    box-shadow: 0 0 0 2px rgb(232, 232, 232);
    border-radius: 5px;
}

.card__category {
    font-family: 'Roboto', sans-serif;
}

.card__title {
    margin-top: 10px;
}

.card__date {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: gray;
}

.card__paragraph {
    margin-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.35rem;
}

.card__link {
    color: rgb(31, 111, 231);
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
}

article div {
    margin-top: 35px;
}

footer {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgb(228, 228, 228);
    margin-top: 25px;
}

.footer__text {
    color: gray;
    font-size: 1.3rem;
}

.footer__text a {
    color: rgb(31, 111, 231);
}

.footer__link {
    font-size: 1.3rem;
    margin-top: 20px;
    color: rgb(31, 111, 231);
}

.paragraph__text__blue {
    color: blue;
}

.paragraph__text__green {
    color: rgb(12, 175, 12);
}

.paragraph__text__arial {
    font-family: Arial, Helvetica, sans-serif;
}

.blog h5 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
}

.blog a {
    color:rgb(31, 111, 231);
}

.blog p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 10px 0;
}

.blog li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 30px;
}

.bordered {
    border: solid 1px lightgray;
}

.bordered-bottom {
    border-bottom: solid 1px lightgray;
}

.paragraph__code {
    font-family: 'Rubik', sans-serif;
}

aside {
    max-width: 300px;
    margin-left: 35px;
}

.blog__heading {
    font-family: 'Rubik', sans-serif;
}

.about__wrapper {
    background-color: rgb(241, 241, 241);
    padding: 15px;
}

.aside__links {
    padding: 15px;
}

.aside__links h3 {
    margin-bottom: 5px;
}

.aside__links a {
    color: rgb(31, 111, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.buttons__wrapper {
    margin: 25px 0;
}

.buttons__wrapper button {
    padding: 8px 10px;
    border-radius: 25px;
    border-width: 1px;
    background-color: white;
}

.blog__button__active {
    border: 1px solid rgb(31, 111, 231);
    color: rgb(31, 111, 231);
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 35px 25px;
}

.l6 {
    grid-column: span 6;
}

@media (max-width: 740px) {
    .container {
        padding: 0 8%;
    }

    .s12 {
        grid-column: span 12;
    }
}
